/* Customisation 2 & 15: START */
.collage_section .collage .media>img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .collage_section .collage .desktop_hidden {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .collage_section .collage .mobile_hidden {
    display: none;
  }
  .collage_section .card-grid {
    column-gap: 16px;
  }
  .collage_section .collage .banner__box p {
    /* max-width: 80%; */
  }
}
/* Customisation 2 & 15: END */

/* Customisation 4&5: START */
.multicolumn_with_icons .column {
  row-gap: 18px;
}
.multicolumn_with_icons .column__title h3 {
  font-size: 30px;
  line-height: 42px;
}

@media screen and (max-width: 1199px) {
  .multicolumn_with_icons .column__title h3 {
    font-size: 26px;
    line-height: 38px;
  }
}
@media screen and (max-width: 1023px) {
  .multicolumn_with_icons .column {
    row-gap: 16px;
  }
  .multicolumn_with_icons .column__text {
    font-size: 14px;
  }
  .multicolumn_with_icons .flickity-page-dots {
    margin-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  .multicolumn_with_icons .column__title h3 {
    font-size: 20px;
    line-height: 28px;
  }
}
/* Customisation 4&5: END */

/* Customisation 6: START */
.images_with_text_overlay .scrolled-images__row:first-child,
.images_with_text_overlay .scrolled-images__row:nth-child(2),
.images_with_text_overlay .scrolled-images__row:nth-child(3) {
  opacity: 1;
}
.images_with_text_overlay .scrolled-images__item {
  position: relative;
}
.images_with_text_overlay .scrolled-images__item:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
}
[data-rounded-block=round] .scrolled-images__item:before {
  border-radius: 1rem;
}
/* Customisation 6: END */

/* Customisation 8: START */
.blog-grid .article-card__image {
  width: 100%;
}
.blog-grid .badge {
  background: #F6BE00;
  color: #000;
}
/* Customisation 8: END */

/* Customisation 11&12&17: START */
.footer__left .footer__item--brand_information {
  display: none;
}
.footer__right {
  display: flex;
  flex-wrap: wrap;
  padding-right: 0;
}
.footer__right .footer__item--brand_information {
  width: 100%;
  margin: 0 0 32px;
}
.footer__right .footer__newsletter {
  max-width: 390px;
}
.footer__right .newsletter-form .field .input {
  border: 1px solid rgba(255, 255, 255, 0.10);
  border-radius: 8px;
}
.footer__item--brand_information .footer_logo {
  margin: 0 0 36px;
}
.footer__item--brand_information .footer__contact {
  gap: 5px;
}
.footer__item--brand_information .info_icon {
  margin-right: 10px;
}
.footer-copyright .payment-icons {
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .footer__left .footer__item--brand_information {
    display: block;
    order: -1;
    margin: 0;
    padding: 36px 20px;
    border: 0 solid rgb(var(--color-foreground)/ var(--opacity-115));
    border-block-start-width: 1px;
    border-inline-end-width: 1px;
    border-inline-start-width: 1px;
    border-radius: 16px 16px 0 0;
  }
  .footer__left .footer__accordions .details.footer__item--link_list-1 {
    border-start-end-radius: 0;
    border-start-start-radius: 0;
  }
  .footer__item--brand_information .footer_logo {
    margin: 0 0 20px;
  }
  .footer__item--brand_information .info_icon {
    max-width: 25px;
  }
  .footer__item--brand_information .footer__contact .link {
    font-size: 17px;
  }
  [data-rounded-block=round] .footer__accordions .details:last-of-type {
      border-end-end-radius: 16px;
      border-end-start-radius: 16px;
  }
  .footer__right .footer__newsletter {
    max-width: 100%;
  }
  .footer__right .footer__item--brand_information {
    display: none;
  }
}
/* Customisation 11&12&17: END */

/* Customisation 9: START */
.custom_newsletter .page-width {
  max-width: 1440px;
  padding: 0 20px;
}
.custom_newsletter .banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 96px;
  flex-wrap: wrap;
}
.custom_newsletter .banner__content {
  width: calc(50% - 48px);
  position: relative;
}
.custom_newsletter .banner__content:first-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: calc(100% + 48px);
  display: inline-block;
  width: 1px;
  height: 100%;
  background: #666;
}
.custom_newsletter .banner__box {
  max-width: 446px;
  width: 100%;
  margin: 0 auto;
  padding: 17px 0;
}
.custom_newsletter .banner__title {
  line-height: 42px;
}
.custom_newsletter .newsletter-form .field .input {
  border: 1px solid rgba(255,255,255,.1);
  border-radius: 8px;
}

@media screen and (max-width: 767px) {
  .custom_newsletter .banner {
    justify-content: center;
  }
  .custom_newsletter .banner__content {
    width: 100%;
  }
  .custom_newsletter .banner__content:first-child:after {
    display: none;
  }
  .custom_newsletter .banner__box {
    text-align: center;
    padding: 25px 0;
  }
  .custom_newsletter .headingtext-custom {
    font-size: 20px !important;
  }
}
/* Customisation 9: END */

/* Customisation 1: START */
.custom_slideshow .slideshow .banner {
  max-width: 100%;
  margin-inline-end: 0;
  border-radius: 0;
}
.custom_slideshow .slideshow .banner__overlay {
  border-radius: 0;
}
.custom_slideshow.section--rounded .slideshow .banner__overlay{
  border-start-end-radius: var(--border-radius);
  border-start-start-radius: var(--border-radius);
}
.custom_slideshow .slideshow-dots {
  position: absolute;
  bottom: 32px;
  column-gap: 6px;
  border: none;
  width: 100%;
  justify-content: center;
}
.custom_slideshow .slideshow-dots .flickity-page-dots {
  margin: 0;
}
.custom_slideshow .custom_slider .flickity-page-dots {
  display: none;
}
.custom_slideshow .flickity-page-dot:before {
  background-color: #fff;
  width: 6px;
  height: 6px;
}
.custom_slideshow .flickity-page-dot[aria-current="true"]:before{
  box-shadow: 0 0 0 2px #fff;
  background: transparent;
}
.custom_slideshow .flickity-prev-next-button.previous,
.custom_slideshow .flickity-prev-next-button.next {
  display: none;
}
/* Customisation 1: END */

/* Customisation 13: START */
.header~.overlay {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
}
.header__menu>ul.with-block magnet-element.menu__item {
  /* font-weight: 400; */
}

.header__menu .mega-menu__list { 
  /* gap: 20px 24px; */
  /* padding: 25px 20px 54px; */
  /* max-width: 1640px; */
  width: 100%;
  justify-content: space-between;
}
.header__menu .mega-menu__list > .mega-menu__item {
  flex: unset;
}

.mega-menu__item--nav { 
  max-width: unset; 
  display: flex; 
  gap: calc(72vw / 19.2); 
  padding: 0; 
}

.header__menu .mega-menu__list > .mega-menu__item.mega-menu__item--nav {
  /* width: calc(68% - 12px);
  max-width: 1196px; */
  display: flex;
  column-gap: calc(72vw / 19.2); 
  padding: 0;
  width: 100%;
  max-width: calc(100% - 404px);
}
.header__menu .mega-menu__list > .mega-menu__item.media-card {
  width: calc(400vw / 19.2); 
  max-width: 400px; 
  border-bottom-left-radius: 0; 
  border-bottom-right-radius: 0; 
}

.header__menu .mega-menu__list > .mega-menu__item.media-card .media { 
  /* border-radius: 0; */
}
.header__menu .media-card--card .badges {
  top: 28px;
  left: 28px;
}
.header__menu .media-card--overlap .media-card__content {
  padding: 0 28px 28px;
}
.header__menu .media-card__text {
  max-width: 286px;
}
.header__menu .media-card__text .heading {
  font-size: calc(36vw / 19.2); 
  font-weight: 700; 
  line-height: normal; 
  letter-spacing: 0;
}
.header__menu .media-card__text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin: 10px 0 0;
}
.header__menu .media-card__content .icon {
  display: none;
}

.header__menu .mega-menu__item.mega-menu__item--nav ul.mega-menu__nav.show-nav { 
  width: 100%; 
  max-width: 320px; 
  display: flex; 
  flex-direction: column; 
  gap: calc(28vw / 19.2); 
}

.header__menu .mega-menu__item.mega-menu__item--nav ul.mega-menu__nav.show-nav > li {
  /* border-bottom: 1px solid #EAEAEA; */
  /* padding: 15px 20px 15px 0; */
  display: flex;
  align-items: center;
}

.header__menu .mega-menu__item.mega-menu__item--nav ul.mega-menu__nav.show-nav>li .heading { 
  width: 100%; 
  display: flex; 
  justify-content: space-between; 
  padding: calc(12vw / 19.2) calc(8px / 19.2) calc(12vw / 19.2) 5vw; 
  font-size: calc(24vw / 19.2); 
  font-style: normal;
  font-weight: 500;
  line-height: normal; 
  letter-spacing: 0; 
  color: var(--color-grey); 
}

.header__menu .mega-menu__item.mega-menu__item--nav ul.mega-menu__nav.show-nav>li .heading[is="highlighted-text"] { 
  font-weight: 700; 
  color: var(--color-secondary); 
}

.header__menu ul.mega-menu__nav.show-nav > li > .media {
  padding: 10px;
  margin: 0 10px 0 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__menu ul.mega-menu__nav.show-nav > li > .media img {
  max-width: 50px;
  max-height: 50px;
  aspect-ratio: auto;
}
.header__menu ul.mega-menu__nav.show-nav > li .icon {
  margin-left: auto;
  opacity: 0.2;
  width: auto;
}
.header__menu ul.mega-menu__nav.show-nav > li.active-list .icon {
  opacity: 1;
}

.header__menu .mega-menu__item.mega-menu__item--nav .collections-list { 
  width: 100%; 
  height: fit-content; 
  border-radius: 16px; 
  margin: auto 0; 
  padding-bottom: calc(60vw / 19.2); 
}

.header__menu .collections-list {
  text-align: center
}
.header__menu .collection_wrapper {
  display: flex;
  flex-wrap: wrap;
  /* gap: 24px; */
}

.header__menu .collection_wrapper .menu_product-card { 
  /* width: calc(33.33% - 16px); */
  position: relative; 
  flex: 1; 
  text-align: center;
}

.header__menu .collection_wrapper .menu_product-card .badges { 
  justify-content: flex-start; 
  /* 
    top: 0; 
    left: 0; 
    position: absolute; 
  */
}

.header__menu .collection_wrapper .menu_product-card .badge { 
  padding: calc(4vw / 19.2) calc(12vw / 19.2); 
  background-color: var(--color-lemon-yellow);
  font-size: .75rem; 
  font-weight: 600; 
  text-transform: uppercase; 
  color: var(--color-black); 
  border-radius: 4px; 
}

.header__menu .menu_product-card img {
  margin: 0 0 16px;
}
.header__menu .menu_product-card .product_content {
  padding: 0 10px;
}

.header__menu .menu_product-card .product-title { 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  gap: calc(8vw / 19.2); 
  font-size: calc(20vw / 19.2); 
  font-weight: 500; 
  line-height: normal;
  color: #000;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 4px;
}

.header__menu .menu_product-card .product-title svg { 
  width: calc(16vw / 19.2); 
  height: calc(16vw / 19.2); 
}

.header__menu .menu_product-card .product-price { 
  font-size: .875rem; 
  font-style: normal; 
  font-weight: 400;
  line-height: 21px;
  color: #000;
  margin: 0 0 10px;
}
.header__menu .menu_product-card .product-description {
  font-size: calc(14vw / 19.2); 
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
  color: var(--color-grey-2); 
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header__menu .collections-list .view-all_btn {
  margin: 32px 0 0;
  border-radius: 10px;
  padding: 11px 19px;
}
.header__menu .collections-list .view-all_btn .btn-text {
  line-height: 18px;
}
.header__menu .collections-list .view-all_btn .icon {
  width: auto;
  margin-left: 10px;
}
.header__menu .collections-list .view-all_btn:hover svg path {
  stroke: #fff;
}
.header__menu .mega-menu__list>.mega-menu__item.mega-menu__item--nav .mega-menu__nav.grid,
.header__menu .mega-menu__list>.mega-menu__item.mega-menu__item--nav .mega-menu__nav.flex {
  display: flex;
  --header-nav-gap: unset;
  gap: 30px;
  width: 100%;
  padding-top: 20px;
}
.header__menu .mega-menu__list>.mega-menu__item.mega-menu__item--nav .mega-menu__nav.grid > li,
.header__menu .mega-menu__list>.mega-menu__item.mega-menu__item--nav .mega-menu__nav.flex > li {
  width: calc(33.33% - 20px);
  max-width: 320px;
  flex: unset;
}
.header__menu .mega-menu__item--footer { 
  width: 100%;
  margin-top: 32px; 
  padding: 0 0 0 calc(114vw / 19.2); 
}

.header__menu .mega-menu__item--footer .mega-menu__multicolumns { 
  display: flex; 
  justify-content: flex-end; 
  gap: calc(52vw / 19.2); 
  border-top: 1px solid var(--color-grey); 
  padding-top: 32px; 
}

.header__menu .mega-menu__item--footer .mega-menu__multicolumns .mega-menu__column { 
  display: flex; 
  gap: calc(12vw / 19.2); 
  align-items: center; 
}

.header__menu .mega-menu__item--footer .mega-menu__multicolumns .column-icon { 
  width: calc(38vw / 19.2); 
  height: calc(38vw / 19.2); 
  aspect-ratio: 1; 
}

.header__menu .mega-menu__item--footer .mega-menu__multicolumns .column-heading { 
  font-weight: 600;
}

.header__menu .mega-menu__item--footer .mega-menu__multicolumns .column-desc { 
  font-size: .75rem; 
  color: var(--color-grey); 
}

/* 
.header__menu .mega-menu__item--footer .mega-menu__footer {
  margin-top: 30px;
}

.header__menu .mega-menu__item--footer .mega-menu__footer a {
  padding: 24px 0 0;
}

.header__menu .mega-menu__footer a:hover .icon {
  --tw-rotate: unset;
}
*/

@media screen and (max-width: 1199px) {
  .header__menu .mega-menu__list > .mega-menu__item.mega-menu__item--nav {
    width: calc(68% - 12px);
    max-width: 1196px;
  }
}
@media screen and (max-width: 1199px) {
  .header__menu .collection_wrapper {
    gap: 15px;
  }
  .header__menu .collection_wrapper .menu_product-card {
    width: calc(33.33% - 10px);
  }
}
/* Customisation 13: END */

/* Customisation 18: START */
html.js .drawer__header:before {
  background-color: #D9D9D9;
}
.has-modal-opening,
.has-modal-open {
  padding-right: 0;
}
.menu-drawer .drawer__inner,
.menu-drawer .drawer__submenu{
  background-color: var(--color-lightgrey);
}
.menu-drawer .drawer__menu-item {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  font-size: 1.125rem; 
  font-weight: 600; 
  line-height: normal; 
  /* padding: 6px 20px 6px 0; */
}

.menu-drawer a.drawer__menu-item {
  padding-left: 20px; 
}

.menu-drawer .submenu-1_li .drawer__menu-item { 
  width: 100%; 
  padding: var(--sp-2d5) 20px var(--sp-2d5) 0; 
}

.menu-drawer .submenu-1_li .drawer__menu-item span { 
  padding-left: 20px; 
  font-size: 16px; 
  z-index: 1; 
}

.menu-drawer .submenu-1_li .drawer__menu-item:hover span, 
.menu-drawer .submenu-1_li .drawer__menu-item:focus span { 
  color: #000000; 
}

.menu-drawer .submenu-1_li .drawer__menu-item:hover img, 
.menu-drawer .submenu-1_li .drawer__menu-item:focus img { 
  filter: brightness(0); 
}

.menu-drawer .drawer__menu-item svg { 
  margin-left: auto; 
  margin-right: 16px; 
}

.menu-drawer .drawer__menu-item:hover svg, 
.menu-drawer .drawer__menu-item:focus svg, 
.menu-drawer .drawer__menu-item:hover img, 
.menu-drawer .drawer__menu-item:focus img { 
  filter: brightness(0);
}

.menu-drawer .drawer__menu summary:after,
.menu-drawer .drawer__submenu>button:before {
  display: none;
}

.menu-drawer .drawer__submenu>button {
  gap: 10px;
  border-color: unset; 
  color: var(--color-grey); 
  letter-spacing: 0;
}

.menu-drawer .drawer__submenu>button svg { 
  transform: rotate(180deg); 
}

.menu-drawer .submenu-1_li, 
.menu-drawer .submenu-2_li { 
  display: flex; 
  align-items: center; 
  padding: 0; 
  /* padding: 6px 20px 6px 0; */
}

.menu-drawer .submenu-1_li .media {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 0;
}
.menu-drawer .submenu-1_li .media img {
  max-width: 50px;
  max-height: 50px;
  aspect-ratio: auto;
}
.menu-drawer .submenu-1_li > details {
  width: 100%; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}
.menu-drawer .drawer__promotions .mega-menu__list {
  grid-template-columns: 100%;
}
.menu-drawer .drawer__promotions .media-card img {
  max-height: 176px;
}
.menu-drawer .drawer__promotions .media-card .badges { 
  display: none; 
  top: 16px;
  left: 16px;
}
.menu-drawer .drawer__promotions .media-card .badges .badge { 
  font-size: 11px; 
  font-weight: 400;
  line-height: 17px;
  padding: 2px 8px;
}
.menu-drawer .drawer__promotions .media-card__content {
  padding: 0 16px 16px;
}
.menu-drawer .drawer__promotions .media-card__content svg,
.menu-drawer .drawer__promotions .media-card__content p {
  display: none;
}
.menu-drawer .mobile-collections-list {
  padding: 0 20px;
}
.menu-drawer .collection_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
  height: calc(100% - 103px);
  padding: 0;
}
.menu-drawer .collection_url,
.menu-drawer .drawer__submenu-2 > ul {
  height: auto;
}
.menu-drawer .mobile-collections-list .product-info {
  display: flex;
  align-items: center;
}
.menu-drawer .mobile-collections-list .product_img-wrapper {
  padding: 0 10px;
  max-width: 150px;
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-drawer .mobile-collections-list .product_img-wrapper img {
  max-height: 100px;
  width: auto;
}
.menu-drawer .mobile-collections-list .product_content {
  width: 100%;
  padding-left: 26px;
}
.menu-drawer .mobile-collections-list .product-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
  margin: 0 0 4px;
}
.menu-drawer .mobile-collections-list .product-price {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.menu-drawer .mobile-collections-list .view-all_btn { 
  width: fit-content; 
  border: 1px solid var(--color-black); 
  border-radius: 30px; 
  margin-top: 10px; 
  padding: 10px 30px; 
  font-size: 1.125rem; 
  font-weight: 500; 
  line-height: normal; 
  text-transform: capitalize; 
  color: var(--color-secondary); 
  transition: all .3s; 
}

.menu-drawer .mobile-collections-list .view-all_btn:hover { 
  color: var(--color-white);  
  background-color: var(--color-secondary); 
}

.menu-drawer .mobile-collections-list .view-all_btn:hover span { 
  color: var(--color-white); 
}

.menu-drawer .mobile-collections-list .view-all_btn svg { 
  width: 10px; 
  height: 10px; 
  aspect-ratio: 1; 
  transition: transform .3s; 
}

.menu-drawer .mobile-collections-list .view-all_btn:hover svg { 
  transform: rotate(45deg); 
}

.menu-drawer .mobile-collections-list .view-all_btn svg path { 
  fill: var(--color-secondary); 
  transition: all .3s; 
}

.menu-drawer .mobile-collections-list .view-all_btn:hover svg path { 
  fill: var(--color-white); 
}

.menu-drawer .mobile-collections-list .view-all_btn:after { 
  border-color: var(--color-secondary); 
}
.menu-drawer .mobile-collections-list .view-all_btn .icon {
  width: auto;
  margin-left: 10px;
}
.menu-drawer .mega-menu__item--footer {
  padding: 0 20px;
}
.menu-drawer .mega-menu__footer { 
  margin: 10px 0 0;
  padding: 0; 
}
.menu-drawer .drawer__menu.active .mega-menu__footer:before {
  --tw-scale-x: 1;
}
.menu-drawer .mega-menu__footer a:not(.media-card__link) { 
  width: fit-content; 
  border: 1px solid var(--color-black); 
  border-radius: 30px; 
  padding: 10px 30px; 
  /* font-size: 24px;*/
  line-height: 31.2px; 
  transition: all .3s; 
}

.menu-drawer .mega-menu__footer a:not(.media-card__link):hover, 
.menu-drawer .mega-menu__footer a:not(.media-card__link):focus { 
  background-color: var(--color-secondary); 
  color: var(--color-white); 
}

.menu-drawer .mega-menu__footer a:not(.media-card__link) span { 
  line-height: normal; 
  font-size: 1.125rem; 
  letter-spacing: 0;
}

.menu-drawer .mega-menu__footer a:not(.media-card__link) svg, 
.menu-drawer .mega-menu__footer a:not(.media-card__link) img { 
  width: 10px; 
  height: 10px; 
  aspect-ratio: 1; 
  margin-left: 6px; 
  transition: transform .3s; 
}

.menu-drawer .mega-menu__footer a:not(.media-card__link):hover svg, 
.menu-drawer .mega-menu__footer a:not(.media-card__link):hover img { 
  transform: rotate(45deg); 
}

.menu-drawer .mega-menu__footer a:not(.media-card__link) svg path { 
  fill: var(--color-black); 
}

.menu-drawer .mega-menu__footer a:not(.media-card__link):hover svg path { 
  fill: var(--color-white); 
}

.menu-drawer .mega-menu__footer a:not(.media-card__link):hover img { 
  filter: invert(1); 
}

.menu-drawer .menu-drawer_wrapper {
  padding-top: 20px;
}
.menu-drawer .drawer__scrollable.drawer__menu {
  height: calc(100% - 172px);
  padding-top: 0;
}
.menu-drawer .drawer__scrollable.drawer__menu.active {
  height: 100%;
}
.menu-drawer .menu-drawer_wrapper > ul > li { 
  /* padding-left: 20px; */
  padding-right: 20px; 
}
.menu-drawer .drawer__footer-bottom {
  /* background: #EAEAEA; */
  background-color: var(--color-lightgrey); 
}

.menu-drawer .drawer__footer-bottom ul:has(.social_platform) {
  gap: 16px; 
}

.menu-drawer .drawer__footer-bottom .button {
  width: fit-content;
  border-radius: 30px; 
}

.menu-drawer .drawer__footer-bottom .button svg { 
  width: 20px; 
  height: 20px; 
  aspect-ratio: 1;
}

.menu-drawer .drawer__footer-bottom .social_icons {
  gap: 0;
}
.menu-drawer .drawer__footer-bottom .social_icons li {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items:center;
}

@media screen and (max-width: 639px) {
  html.js .drawer.menu-drawer .drawer__inner {
    max-height: calc(100% - 28px); 
    background-color: var(--color-lightgrey); 
  }
}
@media screen and (max-width: 360px) {
  .menu-drawer .drawer__footer-bottom {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px 26px;
  }
  .menu-drawer .drawer__scrollable.drawer__menu {
    height: calc(100% - 162px);
  }
  .menu-drawer .drawer__scrollable.drawer__menu.active {
    height: 100%;
  }
}
/* Customisation 18: END */

/* Customisation 3: START */
/*
.product-grid.card-grid,
#ProductGridContainer .card-grid{
  gap: 28px;
}
.product-card {
  border-radius: 16px;
}
.product-card.product-card--card {
  border-color: #EAEAEA;
}
.product-card.product-card--card .product-card__media .media,
.product-card.product-card--card .product-card__media secondary-medias.product-card__carousels,
.product-card.product-card--card .product-card__media .media img {
  max-height: 298.5px;
}
.product-card.product-card--card .product-card__media .media {
  min-height: 298.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-card.product-card--card .product-card__media .media img {
  object-fit: contain;
}
.product-card .quick-view__button {
  display: none;
}
.product-card .badge {
  padding: 5.5px 16px;
  font-size: 14px;
  line-height: 21px;
}
.product-card .product-card__rating {
  font-size: 14px;
  line-height: 21px;
  padding: 5px 18px;
  gap: 4px;
  backdrop-filter: none;
  background: rgba(255, 255, 255, 0.10);
}
.product-card .product-card__content {
  padding: 24px;
}
.product-card.product-card--promo .product-card__content {
  padding: 40px;
  justify-content: flex-start;
}
.product-card.product-card--promo .promo-box > .grid {
  gap: 10px;
}
.product-card.product-card--promo .promo-title {
  line-height: 47px;
  letter-spacing: 0;
}
.product-card.product-card--promo .promo-subtitle {
  line-height: 24px;
}
.product-card.product-card--promo .button {
  padding: 22px 40px;
  font-size: 15px;
}
.product-card.product-card--promo .button .btn-text {
  gap: 10px;
  line-height: 18px;
}
.product-card.product-card--promo .button .icon {
  width: 14px;
}
.product-card .product-card__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
  margin: 0 0 8px;
}
.product-card .product-card_description {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666;
}
.product-card .product-card__bottom {
  margin: 16px 0;
}
.product-card .swatches {
  gap: 0;
}
.product-card .swatches .color-swatch {
  width: 24px;
  height: 24px;
  border: 4px solid #fff;
}
.product-card .swatches .color-swatch:before {
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.10) inset;
}
.product-card .swatches .color-swatch:after {
  opacity: 1;
  inset: unset;
  width: 24px;
  height: 24px;
  border: 1px solid transparent;
  box-shadow: none;
  left: -4px;
  top: 50%;
  transform: translateY(-50%);
}
.product-card .swatches .color-swatch.active:after {
  border-color: #000;
}
.product-card .product-card__pricing .price {
  flex-wrap: wrap;
  gap: 0 8px;
  width: calc(100% - 50px);
}
.product-card .product-card__pricing .price__regular {
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  color: #000;
  display: flex;
  align-items: center;
}
.product-card .product-card__pricing .price__regular small {
  font-size: 16px;
  line-height: normal;
  font-weight: 700;
  color: #000;
  margin-right: 8px;
}
.product-card .product-card__pricing .price__sale {
  align-items: flex-start;
  text-decoration-line: line-through;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: rgba(0,0,0,.5);
}
.product-card .product-card__pricing .price__sale:before {
  display: none;
}

.product-card .product-card__pricing .quick-add {
  transform: none;
}
.product-card .product-card__pricing .quick-add .button {
  padding: 13px;
}
.product-card .product-card__pricing .quick-add svg {
  width: 14px;
  height: 14px;
}
.product-card .product-card__pricing .quick-add:hover svg path {
  stroke: #000;
}
.product-card .product-card__spec {
  padding: 24px;
  border-top: 1px solid #EAEAEA;
  background: #FAFAFA;
}
.product-card .product-card__spec .info_row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.product-card .product-card__spec .info_col {
  width: calc(50% - 8px);
  display: flex;
  column-gap: 10px;
}
.product-card .product-card__spec .col-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
  margin: 0 0 2px;
}
.product-card .product-card__spec .col-content {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #666;
}

@media screen and (max-width: 1199px) {
  .product-grid.card-grid, 
  #ProductGridContainer .card-grid {
    gap: 16px;
  }
  .product-card.product-card--card .product-card__media .media,
  .product-card.product-card--card .product-card__media secondary-medias.product-card__carousels,
  .product-card.product-card--card .product-card__media .media img {
    max-height: 189.919px;
  }
  .product-card.product-card--card .product-card__media .media {
    min-height: 189.919px;
  }
}

@media screen and (max-width: 991px) {
  .product-card .badges {
    top: 10px;
    left: 10px;
  }
  .product-card .badge {
    padding: 2px 8px;
    font-size: 11px;
    line-height: 17px;
  }
  .product-card .product-card__rating {
    font-size: 11px;
    line-height: 17px;
    padding: 2px 8px;
    top: 10px;
    right: 10px;
  }
  .product-card .product-card__rating .icon {
    width: 12px;
    height: 12px;
  }
  .product-card .product-card__content {
    padding: 16px;
  }
  .product-card.product-card--promo .product-card__content {
    padding: 24px;
  }
  .product-card .product-card__title {
    font-size: 18px;
    line-height: 25px;
  }
  .product-card .product-card_description {
    font-size: 11px;
    line-height: 17px;
  }
  .product-card .product-card__bottom {
    margin: 8px 0;
  }
  .product-card .product-card__pricing .price__regular {
    font-size: 16px;
    line-height: 24px;
  }
  .product-card .product-card__spec {
    padding: 10px;
  }
  .product-card .product-card__spec .info_row {
    gap: 10px;
    flex-wrap: nowrap;
    align-items: flex-start;
    overflow-x: auto;
  }
  .product-card .product-card__spec .info_row::-webkit-scrollbar {
    display: none;
  }
  .product-card .product-card__spec .info_col {
    flex-wrap: wrap;
    min-width: calc(33.33% - 7px);
    width: auto;
  }
  .product-card .product-card__spec .col_icon,
  .product-card .product-card__spec .col_spec {
    width: 100%;
    text-align: center;
  }
  .product-card .product-card__spec .col_icon img {
    margin: 0 auto 4px;
    max-width: 17px;
  }
  .product-card .product-card__spec .col-title,
  .product-card .product-card__spec .col-content {
    font-size: 11px;
    line-height: 16.5px;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .featured-collections .view_all-button {
    margin-top: 24px;
  }
  .featured-collections .view_all-button .button {
    border-bottom: 1px solid #000;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-transform: capitalize;
  }
  .featured-collections .view_all-button .button:after {
    display: none;
  }
  .featured-collections .view_all-button .icon {
    display: none;
  }
}

@media screen and (max-width: 639px) {
  .product-card.product-card--card .product-card__media .media {
    min-height: unset;
  }
}
*/
/* Customisation 3: END */

/* Customisation #3.2: START */
/*
.template-equipments #ProductGridContainer .product-card.product-card--card .product-card__media .media {
  min-height: 219.24px;
}
.template-equipments #ProductGridContainer .product-card.product-card--card .product-card__media .media, 
.template-equipments #ProductGridContainer .product-card.product-card--card .product-card__media secondary-medias.product-card__carousels, 
.template-equipments #ProductGridContainer .product-card.product-card--card .product-card__media .media img {
  max-height: 219.24px;
}
.template-equipments #ProductGridContainer .product-card.product-card--card .product-card__content {
  min-height: 207px;
}
.template-equipments #ProductGridContainer .product-card.product-card--card .product-card__content {
  min-height: 207px;
}

@media screen and (max-width: 991px) {
  .template-equipments #ProductGridContainer .product-card.product-card--card .product-card__content {
    min-height: 167.72px;
  }
}

@media screen and (max-width: 639px) {
  .template-equipments #ProductGridContainer .card-grid {
    gap: 10px;
  }
  .template-equipments #ProductGridContainer .product-card.product-card--card .product-card__media .media {
    min-height: 113.28px;
  }
  .template-equipments #ProductGridContainer .product-card.product-card--card .product-card__media .media, 
  .template-equipments #ProductGridContainer .product-card.product-card--card .product-card__media secondary-medias.product-card__carousels, 
  .template-equipments #ProductGridContainer .product-card.product-card--card .product-card__media .media img {
    max-height: 113.28px;
  }
  .template-equipments #ProductGridContainer .product-card .product-card__pricing .price__regular {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 370px) {
  .template-equipments #ProductGridContainer .card-grid {
    --card-grid-per-row: 1;
  }
  .template-equipments #ProductGridContainer .product-card.product-card--card .product-card__content {
    min-height: unset;
  }
}
*/
/* Customisation #3.2: END */

/* Customisation 32 & 33: START */
.mobile_slider .blog-collage .article-card .article-card__content {
  position: absolute;
  inset: var(--card-grid-gap);
  inset-block-start: unset;
  color: #ffffff;
}
.mobile_slider .blog-collage .article-card .article-card__media:after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #000000;
  opacity: 0.5;
  pointer-events: none;
}
.mobile_slider .blog-collage .article-card .article-card__title {
  font-size: clamp(var(--text-2xl), 2.526vw, var(--text-5xl));
}

@media screen and (min-width: 768px) {
  .blog-posts-collage .desktop_hidden {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .images_with_text-choose_heybike p.media {
    display: none;
  }
  .blog-posts-collage .mobile_hidden {
    display: none;
  }
}
@media screen and (max-width: 639px) {
  .mobile_slider .blog-collage .article-card .article-card__image {
    aspect-ratio: 4 / 5;
  }
  .mobile_slider .blog-collage .article-card .article-card__bottom {
    display: none;
  }
}

@media screen and (min-width: 640px) {
  .mobile_slider .blog-collage .article-card {
    grid-column: span 2;
  }
}
/* Customisation 32 & 33: END */

/* Customisation 34: START */
.collection__topbar .subcollections .subcollection { 
  height: fit-content; 
  font-size: 16.8px;
  border-bottom: 1px solid var(--color-grey); 
  padding: 0; 
  line-height: 48px; 
}

.collection__topbar .subcollections .subcollection .btn-text { 
  padding: 0 calc(20vw / 19.2); 
  font-size: 1.5rem; 
}

/* Customisation 34: END */

/* Revision 1: START */
.topbar-section {
  height: 39px;
}
/*
.header {
  padding-top: 12px;
  padding-bottom: 12px;
}
*/
.collage_section .media>img {
  transform: scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.collage_section .collage__item:hover .media>img {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
}
.collage_section .collage__item:hover .reversed-link:not([aria-disabled]) {
    background-position-x: var(--transform-origin-start);
    background-size: 100% 1px;
}
.js .product-card:hover .quick-view__button~.product-card__rating {
  opacity: 1;
}
.collection-banner-section .banner__title {
  font-size: clamp(var(--sp-6), 3.9065vw, var(--sp-10));
}
.blog-posts-collage .article-card__bottom {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 1024px) {
  .collection-banner-section .banner__title {
    font-size: clamp(var(--sp-10), 3.3685vw, var(--sp-16));
  }
}

@media screen and (min-width: 768px) {
  .collection-banner-section .banner {
    /* height: 500px; */
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .header {
    padding-top: 9px;
    padding-bottom: 9px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 9px;
    padding-bottom: 9px;
  }
  .custom_slideshow .banner__box {
    padding-top: 0;
  }
  .custom_slideshow .banner__box .button {
    margin-top: 20px;
  }
}
/* Revision 1: ENDS */


/* Revision 5: START */

.header__menu>ul.with-block magnet-element.menu__item{
  /* font-weight: 700; */
}

/* Revision 5: END */


/* Revision 6: START */
.product-card__spec .col_icon{
  width: 25px;
  height: 25px;
}

/* Revision 6: END */


/* Custom */
/* CLEARgo */
.shop-all-btn { 
  display: flex; 
  justify-content: center; 
  gap: 8px; 
  padding: calc(28vw / 19.2) calc(52vw / 19.2); 
  font-size: 1.25rem; 
}

.shop-all-btn span { 
  font-size: calc(20vw / 19.2); 
  font-weight: 600; 
}

.shop-all-btn:hover span, 
.shop-all-btn:hover span { 
  color: var(--color-secondary); 
}

.shop-all-btn svg {
  width: 12px; 
  height: 12px; 
  transition: all .3s; 
}

.shop-all-btn:hover svg { 
  transform: rotate(45deg); 
}

.shop-all-btn svg path { 
  fill: var(--color-secondary); 
}

.shop-all-btn .mega-menu-arrow-right { 
  display: none; 
}

.mega-menu__footer { 
  padding-left: calc(114vw / 19.2); 
}

.header__menu .mega-menu__container > .mega-menu__list { 
  gap: calc(92vw / 19.2); 
  padding-top: calc(52vw / 19.2); 
  padding-bottom: calc(52vw / 19.2); 
  padding-right: calc(120vw / 19.2); 
}

.header__menu .mega-menu__container>.mega-menu__list:not(:has(.show-nav)) { 
  padding-left: calc(120vw / 19.2); 
}

.header__menu .mega-menu__list > .mega-menu__item.mega-menu__item--nav {
  column-gap: calc(72vw / 19.2); 
}

.header__menu .mega-menu__item.mega-menu__item--nav ul.mega-menu__nav.show-nav { 
  gap: calc(28vw / 19.2); 
}

.header__menu .inner-wrapper { 
  width: 75%; 
  display: flex; 
  flex-direction: column; 
}

.mega-menu__list:not(:has(.show-nav)) .inner-wrapper, 
.mega-menu__list:not(:has(.show-nav)) .mega-menu__item, 
.mega-menu__list:not(:has(.show-nav))  .mega-menu__nav { 
  width: 100%; 
  justify-content: space-between; 
}

.mega-menu__list:not(:has(.show-nav)) .mega-menu__footer { 
  width: 100%; 
  margin: 0; 
  padding: calc(46vw / 19.2) 0 0 0; 
  border-top: 1px solid var(--color-lightgrey-2); 
}

.menu-arrow-left { 
  transform: rotate(180deg); 
}

/* Mobile */
@media (max-width: 767px) { 
  .collection__topbar .subcollections .subcollection { 
    line-height: 32px; 
  }

  .header__menu .mega-menu__item.mega-menu__item--nav .collections-list {
    padding-bottom: 0; 
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1366px) { 
  .header__menu .mega-menu__container > .mega-menu__list { 
    gap: 20px; 
    padding-top: calc(52vw / 13.66); 
    padding-bottom: calc(52vw / 13.66); 
    padding-right: 20px; 
  }

  .header__menu .mega-menu__container>.mega-menu__list:not(:has(.show-nav)) { 
    padding-left: 20px; 
  }

  .header__menu .mega-menu__list > .mega-menu__item.mega-menu__item--nav {
    column-gap: 20px; 
  }
  
  .header__menu .mega-menu__item.mega-menu__item--nav ul.mega-menu__nav.show-nav { 
    width: calc(348vw / 13.66); 
    gap: calc(20vw / 13.66); 
  }

  .header__menu .mega-menu__item.mega-menu__item--nav ul.mega-menu__nav.show-nav>li .heading { 
    font-size: calc(20vw / 13.66); 
    padding: calc(12vw / 13.66) calc(8px / 13.66) calc(12vw / 13.66) 20px; 
  }

  .shop-all-btn { 
    padding: calc(20vw / 13.66) calc(26vw / 13.66); 
  }

  .shop-all-btn span { 
    font-size: calc(20vw / 13.66); 
  }

  .mega-menu__footer { 
    margin-top: 20px; 
    padding-left: 20px; 
  }

  /*
  .header__menu .collection_wrapper .menu_product-card .badges { 
    display: none; 
  }
  */

  .header__menu .collection_wrapper .menu_product-card .badge { 
    padding: calc(4vw / 13.66) calc(12vw / 13.66); 
  }

  .mega-menu__item--nav { 
    gap: 20px; 
  }

  .header__menu .menu_product-card .product-title { 
    gap: calc(8vw / 13.66); 
    font-size: calc(20vw / 13.66); 
  }

  .header__menu .menu_product-card .product-title svg { 
    width: calc(16vw / 13.66); 
    height: calc(16vw / 13.66); 
  }

  .header__menu .mega-menu__list > .mega-menu__item.media-card {
    width: calc(400vw / 13.66); 
  }

  .header__menu .mega-menu__item--footer .mega-menu__multicolumns { 
    gap: calc(52vw / 13.66); 
  }

  .header__menu .mega-menu__item--footer .mega-menu__multicolumns .mega-menu__column { 
    gap: calc(12vw / 13.66); 
  }

  .header__menu .mega-menu__item--footer .mega-menu__multicolumns .column-icon { 
    width: calc(38vw / 13.66); 
    height: calc(38vw / 13.66); 
  }

  .header__menu .media-card__text .heading {
    font-size: calc(36vw / 13.66); 
  }

  .header__menu .menu_product-card .product-description {
    font-size: calc(14vw / 13.66); 
  }

  .collection__topbar .subcollections .subcollection .btn-text { 
    padding: 0 calc(20vw / 13.66); 
  }

  .header__menu .mega-menu__item.mega-menu__item--nav .collections-list {
    padding-bottom: 0; 
  }
}

/* Desktop */
@media (min-width: 1920px) { 
  .header__menu .mega-menu__container > .mega-menu__list { 
    gap: 92px; 
    padding-top: 52px; 
    padding-bottom: 52px; 
    padding-right: 120px; 
  }

  .header__menu .mega-menu__container>.mega-menu__list:not(:has(.show-nav)) { 
    padding-left: 120px; 
  }

  .header__menu .mega-menu__list > .mega-menu__item.mega-menu__item--nav { 
    column-gap: 72px; 
  }

  .header__menu .mega-menu__item.mega-menu__item--nav ul.mega-menu__nav.show-nav { 
    gap: 28px; 
  }

  .header__menu .mega-menu__item.mega-menu__item--nav ul.mega-menu__nav.show-nav>li .heading { 
    font-size: 24px; 
    padding: 12px 8px 12px 90px; 
  }

  .shop-all-btn { 
    padding: 28px 52px; 
  }

  .shop-all-btn span { 
    font-size: 20px; 
  }

  .mega-menu__footer { 
    padding-left: 114px; 
  }

  .header__menu .collection_wrapper .menu_product-card .badge { 
    padding: 4px 12px; 
  }

  .mega-menu__item--nav { 
    gap: 40px; 
  }

  .header__menu .menu_product-card .product-title { 
    gap: 8px; 
    font-size: 20px; 
  }

  .header__menu .menu_product-card .product-title svg { 
    width: 16px; 
    height: 16px; 
  }

  .header__menu .mega-menu__list > .mega-menu__item.media-card {
    width: 380px; 
  }

  .header__menu .mega-menu__item--footer .mega-menu__multicolumns { 
    gap: 52px; 
  }

  .header__menu .mega-menu__item--footer .mega-menu__multicolumns .mega-menu__column { 
    gap: 12px; 
  }

  .header__menu .mega-menu__item--footer .mega-menu__multicolumns .column-icon { 
    width: 38px; 
    height: 38px; 
  }

  .header__menu .media-card__text .heading {
    font-size: 36px; 
  }

  .header__menu .menu_product-card .product-description {
    font-size: 14px; 
  }

  .collection__topbar .subcollections .subcollection .btn-text { 
    padding: 0 20px; 
  }

  .header__menu .mega-menu__item.mega-menu__item--nav .collections-list {
    padding-bottom: 60px; 
  }
}